.containerTableSettings {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    border-radius: 7px;
}

.containerInputs {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
}