.containerTableClicker{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    border-radius: 7px;
}
.containerCurrentValue {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    background: snow;
    border-radius: 10px;
}
.currentValue{
    font-family: sans-serif;
    font-size: 40px;
}
.containerButtons{
    display: flex;
    justify-content: space-evenly;
}